.mobile-only{display: none}


@media screen and (max-width: 768px) {
    .mobile-only{display: block;}
    .desktop-only{display: none;}

    .mobile-search{

    }
    .mobile-search {
        background-color: #fff;
        margin: 20px;
        padding: 20px;
        border-color: #fcfcfc;
    }
    .mobile-search .c-input{
        border: 1px solid var(--menu-right-border-color) !important;
            outline: none;
            width: 100%;
            height: 2rem;

            border-radius: 3px;
            font-weight: normal;

            background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), .05);

            &.ng-dirty:not(.no-check-dirty) {
                border: 1px solid var(--ion-color-success) !important;
            }
    
            &.ng-invalid, &.ng-invalid.ng-dirty:not(.no-check-dirty) {
                border: 1px solid var(--ion-color-danger) !important;
            }
            &[readonly],&[disabled],&.disable{
                background-color: var(--menu-right-border-color) !important;
                color: var(--ion-color-medium);
            }

            &:focus{
                border-width: 2px !important;
            }
        }

    .mobile-search .c-dropdown{
        width: calc(100% - 20px);
        margin-right: 20px;
    }
}

// ion-header > ion-toolbar {
//     --padding-start: 40px;
//     --padding-end: 40px;
// }

.col-code {
    max-width: 150px !important;
    min-width: 150px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell small {
    /* border-left: solid 2px; */
    margin-left: 5px;
    padding: 2px 4px;
    background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), .1);
    border-radius: 2px;

    &.right {
        margin-left: auto;
        order: 2;
    }
}

.money {
    font-weight: bold;
    color: var(--ion-color-primary) !important;
}

span.header-icon {
    position: absolute;
    font-size: 25px;
    margin-left: -25px;
    margin-top: 6px;
    color: var(--ion-color-primary);
}


ion-card.bom-list {
    color: var(--ion-color-dark);
    box-shadow: none;
    padding-top: 30px;
    line-height: 20px;

    cursor: pointer;
    // height: 290px;

    @media(min-width: 1024px) {
        margin: auto;
        max-width: 500px;
    }


    .logo {
        position: absolute;
        z-index: 1;
        left: calc(50% - 25px);
        margin-top: -16px;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100px;
        background-image: url('../../../../assets/icons/icon-128x128.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        border: 2px solid var(--main-background-bottom);
    }

    .checkbox-del{
        float: right;
        z-index: 1;
        position: relative;
        top: 40px;
        right: 20px;
    }

    &.debt{
        ion-card-header {
            background: var(--menu-background-item-active);
            .ngay-hd {
                background: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);
                padding: 5px 8px;
                border-radius: 50px;
                
            }
        }
        ion-card-content {
            background: var(--menu-background-item-active);
        }
        .card-footer {
            background: var(--menu-background-item-active);
        }
    }

    ion-card-header {
        padding-top: 30px;
        background: var(--ion-color-tertiary-tint);
        border-radius: 10px 10px 0 0;

        .ngay-hd {
            font-size: 11px;
            font-weight: bold;
            vertical-align: text-top;
            line-height: 24px;
        }
    }

    ion-card-content {
        background: var(--ion-color-tertiary-tint);
        color: var(--ion-color-dark);
        padding-bottom: 0;
        // padding-top: 20px;
        // border-top: 2px var(--main-background-bottom) dashed;
        // border-bottom: 2px var(--main-background-bottom) dashed;
    }

    ion-card-title {
        text-align: left !important;
        font-size: 26px !important;
        padding-top: 0 !important;
        font-weight: normal !important;
        padding-bottom: 15px;
    }

    ion-card-subtitle{
        text-transform: none;
        font-weight: normal;
    }

    .card-footer {
        background: var(--ion-color-tertiary-tint);
        border-radius: 0 0 10px 10px;
    }

    .info {
        padding: 20px;
        padding-top: 0;

        .field {
            font-size: 12px;
            padding-top: 16px;
            text-transform: uppercase;
        }

        .field-value {
            font-weight: bold;
            line-height: 30px;
        }

        .address {
            font-size: 12px;
        }
    }


    .barcode {
        border-top: dashed 4px #E6E6E6;
    }

    table.card {
        td {
            vertical-align: top;
            padding: 2px 5px;
        }

        td:first-child {
            width: 10px;
        }

        .td-address {}
    }
}


