
.col-name {
    max-width: 250px !important;
    min-width: 250px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-weight {
    max-width: 90px !important;
    min-width: 90px !important;
    justify-content: center;
}

.unset-maxWidth {
    max-width: unset !important;
}