<ion-header>
	<app-list-toolbar pageTitle="{{'erp.app.pages.product.order-recommendation.page-title' | translate}}" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()" (changeBranch)="changeBranch($event)">
		<ng-container>
			<ion-button *ngIf="pageConfig.canCreatePO && selectedCount" (click)="createPO()" title="{{'erp.app.pages.product.order-recommendation.create-po' | translate}}">
				<ion-icon slot="icon-only" name="basket-outline"></ion-icon>
			</ion-button>
			<ion-button *ngIf="pageConfig.canCreatePO" (click)="suggestVendors()" title="{{'erp.app.pages.product.order-recommendation.suggest-vendor' | translate}}">
				<ion-icon slot="icon-only" name="bulb-outline"></ion-icon>
			</ion-button>
		</ng-container>
	</app-list-toolbar>
	<!-- <section class="table">
		
	</section> -->
</ion-header>

<ion-content appScrollbarTheme class="header-table scrollx" forceOverscroll="false">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<section class="table" style="min-width: calc(1024px);">
		<header class="bold">
			<!-- <div class="col-checkbox cell"></div> -->
			<div class="col-id cell" (click)="sortToggle('Id')">
				{{'erp.app.pages.product.order-recommendation.id' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-mrpname cell" (click)="sortToggle('IDMRP')">
				MRPName
				<ion-icon class="min-btn" *ngIf="sort.IDMRP" [name]="sort.IDMRP == 'IDMRP'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IDMRP" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('Name')">
				{{'erp.app.pages.product.order-recommendation.name' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Name" name="search" color="primary"></ion-icon>
			</div>
			<!-- <div class="col-id cell" (click)="sortToggle('Id')">
				{{'erp.app.pages.product.order-recommendation.id-sort' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div> -->
			<div class="col-number cell">
				{{'erp.app.pages.product.order-recommendation.dinner-pax' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-date cell">
				{{'erp.app.pages.product.order-recommendation.party-date' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.PartyDate" [name]="sort.PartyDate == 'PartyDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.PartyDate" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-checkbox cell">{{'erp.app.pages.product.order-recommendation.order' | translate}}</div>
			<!-- <div class="col-id cell" (click)="sortToggle('Id')">
				{{'erp.app.pages.product.order-recommendation.kpi-sort' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div> -->
			<div class="col-number cell">
				{{'erp.app.pages.product.order-recommendation.price' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell">
				{{'erp.app.pages.product.order-recommendation.quality' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell">
				{{'erp.app.pages.product.order-recommendation.delivery' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell">
				{{'erp.app.pages.product.order-recommendation.payment' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<!-- <div class="col-checkbox cell"></div> -->
				<div class="col-id cell"></div>
				<div class="col-mrpname cell">
					<select (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDMRP" class="c-input c-dropdown" [ngClass]="{active: query.IDMRP}">
						<option [value]="''">{{'erp.app.pages.shipping.shipment.all-option' | translate}}</option>
						<option [disabled]="t.Flag || t.IDMRP == null" *ngFor="let t of itemMRPList" [value]="t.IDMRP">{{t.MRPName}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDMRP=''; refresh()" *ngIf="query.IDMRP" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Keyword" class="c-input" [ngClass]="{active: query.Keyword}" type="text">
					<ion-icon class="min-btn" (click)="query.Keyword=''; refresh()" *ngIf="query.Keyword" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-date cell">
					<input placeholder="{{'erp.app.pages.product.order-recommendation.order-date-placeholder' | translate}}" (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OrderDate" class="c-input" [ngClass]="{active: query.OrderDate}" type="date">
					<ion-icon class="min-btn" (click)="query.OrderDate=''; refresh()" *ngIf="query.OrderDate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-date cell">
					<input placeholder="{{'erp.app.pages.product.order-recommendation.order-date-placeholder' | translate}}" (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OrderDate" class="c-input" [ngClass]="{active: query.OrderDate}" type="date">
					<ion-icon class="min-btn" (click)="query.OrderDate=''; refresh()" *ngIf="query.OrderDate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell"></div>
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
		<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

		<ion-virtual-scroll [items]="items" approxItemHeight="27px">
			<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
				<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
					<!-- <div class="col-checkbox cell">
						<input *ngIf="i.ItemId" (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
					</div> -->
					<div class="col-id cell">
						<span *ngIf="i.ItemId">
							{{i.Id}}
						</span>
					</div>
					<div class="col-mrpname cell">
						<span *ngIf="i.MRPName">
							{{i.MRPName}}
						</span>
						<span *ngIf="!i.MRPName">
							{{i.MRPName}}
						</span>
					</div>
					<div class="col-name cell">
						<span *ngIf="i.ItemId">
							<b>{{i.ItemCode}}</b> - {{i.ItemName}}
						</span>
						<span *ngIf="!i.ItemId">
							<!-- <span class="spacing"></span> -->
							{{i.VendorCode}} - {{i.VendorName}}
						</span>
					</div>
					<!-- <div class="col-id cell" *ngIf="i.ItemId"><b>{{i.UoM}}</b></div> -->
					<div class="col-number cell" *ngIf="i.ItemId">
						<b *ngIf="i.ItemId">{{i.QuantityOrdered}} <small>{{i.UoM}}</small></b>
					</div>
					<div class="col-date cell" *ngIf="i.ItemId"><span *ngIf="i.ItemId">{{i.DueDateText}}</span></div>
					<div class="col-checkbox cell">
						<input *ngIf="!i.ItemId" class="c-checkbox" type="checkbox" [(ngModel)]="i.checked" (change)="changeVendor(i)">
					</div>
					<!-- <div class="col-id cell"> <span *ngIf="!i.ItemId">{{i.KPI}}</span> </div> -->
					<div class="col-number cell"><span *ngIf="!i.ItemId">{{i.PriceText}}</span></div>
					<div class="col-number cell"><span *ngIf="!i.ItemId">{{i.Quality}}</span></div>
					<div class="col-number cell"><span *ngIf="!i.ItemId">{{i.Delivery}}</span></div>
					<div class="col-number cell"><span *ngIf="!i.ItemId">{{i.Payment}}</span></div>

				</div>
			</ng-container>
		</ion-virtual-scroll>
	</section>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>