.A4 .sheet {
    width: 210mm;
    height: auto;
    // min-height: auto;//295mm;
    padding: 0 10mm;
}

.A5.landscape .sheet {
    width: 210mm;
    height: auto;
    min-height: 147mm;
    padding: 0 10mm;
}

.sheet {
    &.huong-dan {
        padding: 10mm !important;
        height: auto !important;
        min-height: auto !important;
        color: #af305a;

        a {
            color: #af305a;
        }
    }

}

.giao-nhan {

    .page-header,
    .page-header-space {
        height: 38px;
    }

    .page-footer,
    .page-footer-space {
        height: 38px;
    }

    .logo {
        vertical-align: top;
        width: 90px;
        max-width: 90px;
        padding: 0;
    }

    .logo img {
        width: 70px;
        height: auto;
    }

    .topQR {
        vertical-align: top;
        padding: 0;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    .topQR div {
        position: absolute;
        width: 100px;
        text-align: center;
        margin-top: 80px;
        font-size: 10px;
        padding-left: 10px;
    }

    .topQR img {
        width: 90px;
        height: 90px;
        border: solid 1px #CCC;
        display: block;
        float: right;
    }

    .rpt-header .title {
        font-size: 16px;
    }

    .ds-san-pham .ten-sp {
        width: 470px;
    }

    .ds-san-pham .ten-sp.ck {
        width: 425px;
    }

    .ds-san-pham.km .ten-sp {
        width: 530px;
    }

    .ds-san-pham .head {
        border: dashed 1px #000;
    }

    .ds-san-pham tbody {
        border: dashed 1px #000;
    }

    .ds-san-pham tbody td {
        padding: 0px 5px;
        border: none;
        //border: dashed 1px;
        border-right: dashed 1px;
    }

    .top-zone {
        // min-height: 448px;
    }

    .chu-ky {
        margin-top: 2px;

        .line2 {
            height: 45px;
        }
    }

    .noti {
        margin-top: 0px;
    }
}

.subhead{
    font-weight: bold;
    background-color: #F1f1f1;
}