<ion-header>
	<app-detail-toolbar [page]="this">
		<div *ngIf="pageConfig.canEdit && this.id">
			<ion-button (click)="importClick()" title="{{'erp.app.pages.product.bill-of-material.import' | translate}}">
				<ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
			</ion-button>

			<ion-button (click)="addOrderLine({ Type: 'CTItem', IDBOM: item.Id, Id: 0, AdditionalQuantity: 0, IssueMethod: 'Backflush'  })" title="{{'erp.app.pages.product.bill-of-material.add-order-line' | translate}}">
				<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
			</ion-button>
			<span class="split ion-hide-sm-down">|</span>
		</div>
		<ion-button (click)="printBOM()" title="{{'erp.app.pages.product.bill-of-material.print-bom' | translate}}" *ngIf="pageConfig.canPrint">
			<ion-icon slot="icon-only" name="print"></ion-icon>
		</ion-button>
	</app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="order-detail-page" style="position: absolute;"></div>
	<form [formGroup]="formGroup">
		<ion-row class="hr-group ion-no-padding caption" *ngIf="env.isMobile">
			<ion-col size="12" size-sm="12" size-md="12" size-xl="12">
				<ion-list-header class="ion-no-padding">
					<ion-label color="primary">{{'erp.app.pages.product.bill-of-material.id-detail' | translate}} <span *ngIf="id">#{{id}}</span> </ion-label>
				</ion-list-header>
			</ion-col>
		</ion-row>
		<ion-row class="hr-group ion-no-padding mobile-screen" *ngIf="segmentView.Page == 's2'">

			<ion-col size="12" size-sm="6" size-xl="6">

				<div class="c-control">
					<label class="c-label" for="Quantity">{{'erp.app.pages.product.bill-of-material.quantity-for' | translate}} <ion-text color="primary"><b>{{formGroup.controls.Quantity.value}}</b> {{'erp.app.pages.product.bill-of-material.production' | translate}}</ion-text>
						<span *ngIf="!formGroup.controls.Quantity.valid && !formGroup.controls.Quantity.pending && (formGroup.controls.Quantity.dirty || submitAttempt)" ion-text color="danger">(*)</span>
					</label>
					<input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" class="c-input" id="Quantity" formControlName="Quantity" min="0.000000001" step="1" max="999999999999999999" type="number">
				</div>

			</ion-col>
			<ion-col size="12" size-sm="6" size-xl="6">
				<div class="c-control">
					<label class="c-label" for="BatchSize">{{'erp.app.pages.product.bill-of-material.batch-size' | translate}}
						<span *ngIf="!formGroup.controls.BatchSize.valid && !formGroup.controls.BatchSize.pending && (formGroup.controls.BatchSize.dirty || submitAttempt)" ion-text color="danger">(*)</span>
					</label>
					<input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" class="c-input" id="BatchSize" formControlName="BatchSize" min="0" type="number">
				</div>

			</ion-col>
		</ion-row>
	</form>
	<ion-toolbar *ngIf="env.isMobile" color="primary" class="bomtabs">
		<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView.Page">
			<ion-segment-button value="s1">
				<ion-label>{{'erp.app.pages.product.bill-of-material.general-information' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="s2">
				<ion-label>{{'erp.app.pages.product.bill-of-material.quota-tab' | translate}}</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">


		<div *ngIf="segmentView.Page == 's1'">
			<div [ngClass]="{'row-full shadow full-screen mobile-screen': env.isMobile}">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<ion-row class="hr-group ion-no-padding">
							<ion-col [size]="env.isMobile ? 12: 4" *ngIf="!env.isMobile">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'erp.app.pages.product.bill-of-material.quota' | translate}} <span *ngIf="id">#{{id}}</span> </ion-label>
								</ion-list-header>
								<ion-item class="ion-no-padding" lines="none">
									<ion-label color="medium" class="ion-text-wrap">
										{{'erp.app.pages.product.bill-of-material.info-header' | translate}}
										<ul>
											<li>{{'erp.app.pages.product.bill-of-material.std-cost' | translate}}</li>
											<li>{{'erp.app.pages.product.bill-of-material.total-std-cost' | translate}}<ul>
													<li>{{'erp.app.pages.product.bill-of-material.total-std-cost-1' | translate}}</li>
													<li>+ </li>
													<li>{{'erp.app.pages.product.bill-of-material.total-std-cost-2' | translate}}</li>
												</ul>
											</li>
										</ul>
									</ion-label>
								</ion-item>
							</ion-col>
							<ion-col [size]="env.isMobile ? 12: 4">
								<div class="c-control">
									<label class="c-label" for="IDItem">{{'erp.app.pages.product.bill-of-material.id-item' | translate}}
										<span *ngIf="!formGroup.controls.IDItem.valid && !formGroup.controls.IDItem.pending && (formGroup.controls.IDItem.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<ng-select class="c-input" (change)="saveChange();" labelForId="IDItem" formControlName="IDItem" [items]="itemList$ | async" [typeahead]="itemListInput$" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.product.bill-of-material.item-placeholder' | translate}}">
										<ng-template ng-label-tmp let-i="item">
											<b *ngIf="i.Code" [title]="i.Id">
												{{i.Code}}
											</b>
											{{i.Name}}
										</ng-template>
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
												<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small>
											</div>
										</ng-template>
									</ng-select>
								</div>
								<div class="c-control">
									<label class="c-label" for="Quantity">{{'erp.app.pages.product.bill-of-material.quota-for' | translate}} <ion-text color="primary"><b>{{formGroup.controls.Quantity.value}}</b> {{'erp.app.pages.product.bill-of-material.production' | translate}}</ion-text>
										<span *ngIf="!formGroup.controls.Quantity.valid && !formGroup.controls.Quantity.pending && (formGroup.controls.Quantity.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" class="c-input" id="Quantity" formControlName="Quantity" min="0.000000001" step="1" max="999999999999999999" type="number">
								</div>
								<div class="c-control">
									<label class="c-label" for="BatchSize">{{'erp.app.pages.product.bill-of-material.batch-size-title' | translate}}
										<span *ngIf="!formGroup.controls.BatchSize.valid && !formGroup.controls.BatchSize.pending && (formGroup.controls.BatchSize.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" class="c-input" id="BatchSize" formControlName="BatchSize" min="0" type="number">
								</div>

							</ion-col>

							<ion-col [size]="env.isMobile ? 12: 4">
								<div class="c-control">
									<label class="c-label" for="Type">{{'erp.app.pages.product.bill-of-material.type' | translate}}
										<span *ngIf="!formGroup.controls.Type.valid && !formGroup.controls.Type.pending && (formGroup.controls.Type.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<ng-select class="c-input" (change)="saveChange();" labelForId="Type" formControlName="Type" [items]="typeList" [virtualScroll]="true" bindLabel="Name" bindValue="Code" placeholder="{{'erp.app.pages.product.bill-of-material.type-placeholder' | translate}}">
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											</div>
										</ng-template>
									</ng-select>
								</div>
								<div class="c-control" *ngIf="pageConfig.canViewPrice">
									<label class="c-label" for="IDPriceList">{{'erp.app.pages.product.bill-of-material.id-pricelist' | translate}}
										<span *ngIf="!formGroup.controls.IDPriceList.valid && !formGroup.controls.IDPriceList.pending && (formGroup.controls.IDPriceList.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<ng-select class="c-input" (change)="changePriceList();" labelForId="IDPriceList" formControlName="IDPriceList" [items]="priceList" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.product.bill-of-material.pricelist-placeholder' | translate}}">
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											</div>
										</ng-template>
									</ng-select>
								</div>
								<div class="c-control" *ngIf="pageConfig.canViewStdCost">
									<label class="c-label" for="IDStdCostPriceList">{{'erp.app.pages.product.bill-of-material.id-std-cost-pricelist' | translate}}
										<span *ngIf="!formGroup.controls.IDStdCostPriceList.valid && !formGroup.controls.IDStdCostPriceList.pending && (formGroup.controls.IDStdCostPriceList.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<ng-select class="c-input" (change)="changePriceList();" labelForId="IDStdCostPriceList" formControlName="IDStdCostPriceList" [items]="priceList" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.product.bill-of-material.pricelist-placeholder' | translate}}">
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											</div>
										</ng-template>
									</ng-select>
								</div>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>
			</div>
			<div *ngIf="!env.isMobile" class="row-full shadow full-screen" [ngClass]="{'mobile-screen': env.isMobile}">

				<form [formGroup]="formGroup">
					<ng-container formArrayName="Lines">
						<div class="table-contain">
							<section class="table" style="min-width: 1270px;">
								<header class="bold" style="padding-right: 0;">
									<div class="col-id cell">#</div>
									<div class="col-uom cell">{{'erp.app.pages.product.bill-of-material.uom-type' | translate}}</div>
									<div class="col-name cell">{{'erp.app.pages.product.bill-of-material.uom-name' | translate}}</div>
									<div class="col-uom cell">{{'erp.app.pages.product.bill-of-material.uom-unit' | translate}}</div>
									<div class="col-qty cell">{{'erp.app.pages.product.bill-of-material.uom-qty' | translate}}</div>
									<div class="col-qty cell" title="{{'erp.app.pages.product.bill-of-material.uom-add-more-title' | translate}}">
										{{'erp.app.pages.product.bill-of-material.uom-add-more' | translate}}</div>
									<div class="col-uom cell">{{'erp.app.pages.product.bill-of-material.uom-provide' | translate}}</div>
									<div class="col-total cell" *ngIf="pageConfig.canViewPrice"> <small class="clickable" (click)="resetPrice()" *ngIf="pageConfig.canEditPrice">{{'erp.app.pages.product.bill-of-material.uom-reset' | translate}}</small> {{'erp.app.pages.product.bill-of-material.uom-price' | translate}}</div>
									<div class="col-total cell" *ngIf="pageConfig.canViewPrice">{{'erp.app.pages.product.bill-of-material.uom-total-price' | translate}}</div>
									<div class="col-total cell" *ngIf="pageConfig.canViewStdCost">{{'erp.app.pages.product.bill-of-material.uom-std-cost' | translate}}</div>
									<div class="col-total cell" *ngIf="pageConfig.canViewStdCost">{{'erp.app.pages.product.bill-of-material.uom-total-std-cost' | translate}}</div>
									<div class="col-del cell" *ngIf="pageConfig.canEdit"></div>
								</header>
								<ion-reorder-group (ionItemReorder)="doReorder($event, formGroup.get('Lines')['controls'])" [disabled]="!pageConfig.canEdit">
									<ng-container *ngFor="let g of formGroup.get('Lines')['controls']; let idx = index;">

										<ng-container [formGroup]="g">

											<div class="row" [ngClass]="{'header': g.controls.Type.value=='CTStage'}">
												<ion-reorder slot="start"></ion-reorder>
												<div class="col-id cell">
													{{idx+1}}

												</div>

												<div class="col-uom cell">
													<div class="col-uom cell">
														<select formControlName="Type" [attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null" class="c-input c-dropdown" (change)="changedType(g)">
															<option [disabled]="t.Flag" *ngFor="let t of componentTypeList" [value]="t.Code">{{t.Name}}</option>
														</select>
													</div>
												</div>
												<ng-container *ngIf="g.controls.Type.value!='CTItem'">
													<div class="col-name cell">
														<input formControlName="Name" [readonly]="!pageConfig.canEdit || submitAttempt" (change)="saveChange()" class="c-input ion-text-left">
													</div>
												</ng-container>
												<ng-container *ngIf="g.controls.Type.value=='CTItem'">
													<div class="col-name cell">
														<ng-select formControlName="_Item" appendTo="#order-detail-page" [readonly]="!pageConfig.canEdit || submitAttempt" class="c-input" (change)="changedIDItem(g, $event)" [labelForId]="'IDItem'+idx" [items]="g.controls._ItemDataSource.value | async" [typeahead]="g.controls._ItemSearchInput.value" [loading]="g.controls._ItemSearchLoading.value" [virtualScroll]="true" bindLabel="Name" placeholder="{{'erp.app.pages.product.bill-of-material.item-placeholder' | translate}}">
															<ng-template ng-label-tmp let-i="item">
																<b *ngIf="i.Code" [title]="i.Id">
																	{{i.Code}}
																</b>
																{{i.Name}}
															</ng-template>
															<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
																<div *ngIf="i">
																	<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
																	<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}}
																				- {{i.Code}}</span></b></small>
																</div>
															</ng-template>
														</ng-select>
													</div>
													<div class="col-uom cell">
														<select formControlName="IDUoM" [attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null" class="c-input c-dropdown" (change)="changedIDUoM(g)">
															<option [disabled]="t.Flag" *ngFor="let t of g.controls._UoMs.value" [value]="t.Id">{{t.Name}}</option>
														</select>
													</div>
													<div class="col-qty cell">
														<input formControlName="Quantity" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveChange()" class="c-input" type="number" [min]="0.000000001" [max]="999999999999999999" onkeydown="return event.keyCode !== 190">
													</div>
													<div class="col-qty cell">
														<input formControlName="AdditionalQuantity" [readonly]="!pageConfig.canEdit || submitAttempt" (focus)="$event.target.select()" (change)="saveChange()" class="c-input" type="number" [min]="0.000000001" [max]="999999999999999999" onkeydown="return event.keyCode !== 190">
													</div>
													<div class="col-uom cell">
														<select formControlName="IssueMethod" [attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null" class="c-input c-dropdown" (change)="saveChange()">
															<option [disabled]="t.Flag" *ngFor="let t of issueMethodList" [value]="t.Code">
																{{t.Name}}</option>
														</select>
													</div>
													<div class="col-total cell" *ngIf="pageConfig.canViewPrice">
														<input formControlName="UoMPrice" class="c-input" [readonly]="!(pageConfig.canEdit && pageConfig.canEditPrice)" (focus)="$event.target.select()" (change)="saveChange()" mask="separator.0" thousandSeparator="," [allowNegativeNumbers]="false">
													</div>
													<div class="col-total cell disable" *ngIf="pageConfig.canViewPrice">{{
                                                            (g.controls.TotalPrice.value ) | number: '1.0-0'}}</div>
													<div class="col-total cell disable" *ngIf="pageConfig.canViewStdCost">{{
                                                            g.controls.StdCost.value | number: '1.0-0'}}</div>
													<div class="col-total cell disable" *ngIf="pageConfig.canViewStdCost">{{
                                                            (g.controls.TotalStdCost.value ) | number: '1.0-0'}}</div>
												</ng-container>
												<div class="col-del cell" *ngIf="pageConfig.canEdit" (click)="removeOrderLine(idx, true)">
													<ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
												</div>
											</div>

										</ng-container>
									</ng-container>
								</ion-reorder-group>
								<div class="row" *ngIf="pageConfig.canEdit && item?.Lines?.length > 1">
									<div class="col-id cell" *ngIf="pageConfig.canEdit" (click)="addOrderLine({ Type: 'CTItem', IDBOM: item.Id, Id: 0, AdditionalQuantity: 0, IssueMethod: 'Backflush'  })">
										<ion-icon class="min-btn" title="{{'erp.app.pages.product.bill-of-material.add-order-line' | translate}}" name="add-circle-outline"></ion-icon>
									</div>
									<div class="col-id cell" *ngIf="!pageConfig.canEdit"></div>
									<div class="col-name cell">
										<b *ngIf="pageConfig.canEdit && this.id" (click)="addOrderLine({ Type: 'CTItem', IDBOM: item.Id, Id: 0, AdditionalQuantity: 0, IssueMethod: 'Backflush'  })">{{'erp.app.pages.product.bill-of-material.add-orderline' | translate}}</b>
									</div>
									<div class="col-uom cell">
										<div style="height: 35px;"></div>
									</div>
									<div class="col-total cell"><b>Tổng cộng:</b></div>
									<div class="col-total cell disable" *ngIf="pageConfig.canViewPrice"><b>{{ item.TotalPrice | number: '1.0-0' }}</b></div>
									<div class="col-total cell disable" *ngIf="pageConfig.canViewStdCost"><b></b></div>
									<div class="col-total cell disable" *ngIf="pageConfig.canViewStdCost"><b>{{ item.TotalStdCost | number: '1.0-0' }}</b></div>
									<div class="col-del cell disable" *ngIf="pageConfig.canEdit"></div>
								</div>
							</section>
						</div>


					</ng-container>
				</form>

				<div class="table-contain">
					<div class="row" *ngIf="pageConfig.canEdit && this.id && item?.Lines?.length < 2">
						<div class="cell">
							<ion-button fill="clear" size="small" (click)="addOrderLine({ Type: 'CTItem', IDBOM: item.Id, Id: 0, AdditionalQuantity: 0, IssueMethod: 'Backflush'  })">
								<ion-icon slot="start" name="add-circle"></ion-icon>
								{{'erp.app.pages.product.bill-of-material.add-orderline' | translate}}
							</ion-button>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div *ngIf="segmentView.Page == 's2'">
			<div class="row-full shadow full-screen" [ngClass]="{'mobile-screen': env.isMobile}">
				<form [formGroup]="formGroup">
					<ng-container formArrayName="Lines">
						<!-- mobile version -->
						<div *ngIf="env.isMobile" style="min-height: calc(100vh - 410px);">

							<ion-card class="bom-details ion-no-margin">
								<ng-container *ngFor="let g of formGroup.get('Lines')['controls']; let idx = index;">

									<ng-container [formGroup]="g">
										<ion-card-content class="info barcode" [ngClass]="{'ctheader': g.controls.Type.value=='CTStage'}">
											<ng-container *ngIf="g.controls.Type.value!='CTItem'">
												<div [ngClass]="{'ct-other': g.controls.Type.value!='CTStage', 'ct-stage': g.controls.Type.value=='CTStage'}">
													<div class="ct-del-item" *ngIf="pageConfig.canEdit" (click)="removeOrderLine(idx, false)">
														<ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
													</div>
													<select formControlName="Type" class="c-dropdown" (change)="changedType(g)">
														<option [disabled]="t.Flag" *ngFor="let t of componentTypeList" [value]="t.Code">{{t.Name}}</option>
													</select>
													<input *ngIf="g.controls.Type.value=='CTStage'" formControlName="Name" [readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'" class="c-input ion-text-left">
													<ion-textarea *ngIf="g.controls.Type.value!='CTStage'" formControlName="Name" [readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'" class="c-text-area ion-text-left"></ion-textarea>
												</div>
											</ng-container>
											<ng-container *ngIf="g.controls.Type.value=='CTItem'">
												<div class="ct-item">
													<div class="ct-del-item" *ngIf="pageConfig.canEdit" (click)="removeOrderLine(idx, false)">
														<ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
													</div>
													<select formControlName="Type" class="c-input c-dropdown" (change)="changedType(g)">
														<option [disabled]="t.Flag" *ngFor="let t of componentTypeList" [value]="t.Code">{{t.Name}}</option>
													</select>
													<br>
													<ng-select formControlName="_Item" appendTo="#order-detail-page" [readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'" class="c-input" (change)="changedIDItem(g, $event)" [labelForId]="'IDItem'+idx" [items]="g.controls._ItemDataSource.value | async" [typeahead]="g.controls._ItemSearchInput.value" [loading]="g.controls._ItemSearchLoading.value" [virtualScroll]="true" bindLabel="Name" placeholder="{{'erp.app.pages.product.bill-of-material.item-placeholder' | translate}}">
														<ng-template ng-label-tmp let-i="item">
															<b *ngIf="i.Code" [title]="i.Id">
																{{i.Code}}
															</b>
															{{i.Name}}
														</ng-template>
														<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
															<div *ngIf="i">
																<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
																<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}}
																			- {{i.Code}}</span></b></small>
															</div>
														</ng-template>
													</ng-select>

												</div>

												<div slot="start" class="c-quantity">
													<ion-badge class="ion-text-lowercase" slot="start">
														<input formControlName="Quantity" (focus)="$event.target.select()" [readonly]="!pageConfig.canEdit || submitAttempt" [disabled]="!pageConfig.canEdit" class="txtQtyInput" type="number" [ngModel]="g.controls.Quantity.value" (ionChange)="this.calcTotalLine()">

														<select formControlName="IDUoM" [attr.disabled]="(!pageConfig.canEdit || submitAttempt)?'':null" class="c-input c-dropdown" (change)="changedIDUoM(g)">
															<option [disabled]="t.Flag" *ngFor="let t of g.controls._UoMs.value" [value]="t.Id">{{t.Name}}</option>
														</select>

														<!-- <ion-text>{{g.controls.Quantity.value}} </ion-text> -->
													</ion-badge>
													<ion-range formControlName="Quantity" (click)="g.txtQtyShow = !g.txtQtyShow" (ionChange)="this.calcTotalLine()" [ngModel]="g.controls.Quantity.value" [disabled]="!pageConfig.canEdit" debounce="300" min="0" max="1000" color="success" pin="true" step="1" [snaps]="false">
													</ion-range>
													<div class="ct-additional-quantity">
														<input formControlName="AdditionalQuantity" (change)="this.calcTotalLine()" [ngModel]="g.controls.AdditionalQuantity.value" [readonly]="!pageConfig.canEdit || submitAttempt || item.Status=='Palletized'" (focus)="$event.target.select()" class="c-input txtAddQtyInput" type="number" [min]="0.000000001" [max]="999999999999999999" onkeydown="return event.keyCode !== 190">
														<ion-text>±</ion-text>
														<ion-range formControlName="AdditionalQuantity" (click)="g.txtAddQtyShow = !g.txtAddQtyShow" (ionChange)="this.calcTotalLine()" [ngModel]="g.controls.AdditionalQuantity.value" [disabled]="!pageConfig.canEdit" debounce="300" min="0" max="100" color="success" pin="true" step="1" [snaps]="false">
														</ion-range>
													</div>


												</div>
												<div *ngIf="pageConfig.canEditPrice">
													<ion-text class="btnShowPrice" (click)="togglePrice(idx)" [ngClass]="{'showned' : isShowPrice[idx]}">{{'erp.app.pages.product.bill-of-material.show-price' | translate}}</ion-text>
												</div>
												<div class="additional-info" *ngIf="isShowPrice[idx]" [ngClass]="{'hidden-field' : !pageConfig.canEditPrice}">
													<table class="table">
														<tr>
															<td>
																{{'erp.app.pages.product.bill-of-material.price' | translate}}
															</td>

															<td class="align-right">
																<input formControlName="UoMPrice" [ngModel]="g.controls.UoMPrice.value" class="c-input" [readonly]="!(pageConfig.canEdit && pageConfig.canEditPrice)" (focus)="$event.target.select()" (change)="this.calcTotalLine()" mask="separator.0" thousandSeparator="," [allowNegativeNumbers]="false"> {{'erp.app.pages.product.bill-of-material.vnd' | translate}}
															</td>
														</tr>
														<tr>
															<td>
																{{'erp.app.pages.product.bill-of-material.recommend-selling-price' | translate}}
															</td>

															<td class="align-right">
																<b> {{ (g.controls.TotalPrice.value ) | number: '1.0-0'}} {{'erp.app.pages.product.bill-of-material.vnd' | translate}}</b>
															</td>
														</tr>
														<tr>
															<td>
																{{'erp.app.pages.product.bill-of-material.standard-cost' | translate}}
															</td>

															<td class="align-right">
																{{ (g.controls.StdCost.value ) | number: '1.0-0'}} {{'erp.app.pages.product.bill-of-material.vnd' | translate}}
															</td>
														</tr>
														<tr>
															<td>
																{{'erp.app.pages.product.bill-of-material.total-standard-cost' | translate}}
															</td>

															<td class="align-right">
																<b>{{ (g.controls.TotalStdCost.value ) | number: '1.0-0'}} {{'erp.app.pages.product.bill-of-material.vnd' | translate}}</b>
															</td>
														</tr>
													</table>
												</div>

											</ng-container>
										</ion-card-content>
									</ng-container>
								</ng-container>

								<div class="btn-add-new" *ngIf="pageConfig.canEdit">
									<div class="btnAddNewContainer" *ngIf="pageConfig.canEdit">
										<ion-icon class="min-btn" title="{{'erp.app.pages.product.bill-of-material.add-order-line' | translate}}" name="add-circle-outline"></ion-icon>
										<b class="btnAdd" *ngIf="pageConfig.canEdit && this.id" (click)="addOrderLine({ Type: 'CTItem', IDBOM: item.Id, Id: 0, AdditionalQuantity: 0, IssueMethod: 'Backflush'  })">{{'erp.app.pages.product.bill-of-material.add-orderline' | translate}}</b>
									</div>
								</div>

								<ion-card-content class="info barcode secondary total-price" *ngIf="pageConfig.canEdit">

									<div>
										<ion-badge class="ion-float-right">
											{{ item.TotalPrice | number: '1.0-0' }} {{'erp.app.pages.product.bill-of-material.vnd' | translate}}</ion-badge>
										<ion-badge color="secondary">{{'erp.app.pages.product.bill-of-material.recommend-selling-price' | translate}}</ion-badge>
									</div>

									<div>
										<ion-badge class="ion-float-right">
											{{ item.TotalStdCost | number: '1.0-0' }} {{'erp.app.pages.product.bill-of-material.vnd' | translate}}</ion-badge>
										<ion-badge color="secondary">{{'erp.app.pages.product.bill-of-material.total-standard-cost' | translate}}</ion-badge>
									</div>

								</ion-card-content>

								<div class="btn-save" *ngIf="pageConfig.canEdit">
									<div class="btnSaveContainer" *ngIf="pageConfig.canEdit">
										<!-- <ion-icon class="min-btn" title="{{'erp.app.pages.product.bill-of-material.save-change' | translate}}" name="save-outline"></ion-icon> -->
										<b class="btnSave" *ngIf="pageConfig.canEdit" (click)="saveAll()">{{'erp.app.pages.product.bill-of-material.save' | translate}}</b>
									</div>
								</div>

							</ion-card>


						</div>
					</ng-container>
				</form>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
